.Container {
  text-align: center;

}
.Box1 {
  display: flex;
  position: sticky;
  top: 0;
  background: #E8E8E8;
  height: 60px;
  z-index: 10;
}

.Box2{
  display: flex;
}

div{
  margin: 5px;

}
